@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#wrapper {
    width: 80%;
    padding: 80px;
    text-align: center;
    margin: 0 auto;
    font-family: "Open Sans";
}


hr.separator { margin: 70px 0px; }
.form_separator {
    display: block;
    margin: 25px 0px;
}


#today_button {
    width: 30%;
}

.form-control,
input[type=submit] {
    border-radius: 0;
}


#info {
    text-align: left;
}
#info .list-group {
    width: 57%;
    margin:0 auto;
    margin-top: 30px;
    font-size: 20px;
}

#info .badge {
    font-size: 16px;
    background-color: #1980B6;
    padding: 5px;
    border-radius:3px;
}

.message {
    display: none;
    width: 57%;
    margin: 0 auto;
    padding: 12px;
    border-radius: 2px;
    font-size: 18px;
}
.message.success {
    background-color: rgba(62, 212, 62, 0.8);
}

.message.failure {
    background-color: rgba(249, 61, 39, 0.8);
}

.current-day {
    width: 57%;
    margin: 30px auto 0px;
    font-size: 18px;
    text-align: center;
    padding: 3px;
    color: rgb(38, 8, 158);
}


#prizeModal .modal-header {
    background-color: rgba(25, 128, 182, 0.9);
}

.warning {
    font-weight: bold;
    color: #F84444;
}